<div class="container">
  <div class="row">
    <div class="col-md">
      <form #myform="ngForm" (onSubmit)="delIntent(myform.value)">
        <h1>Delete intent</h1>
        <mat-form-field class="half-form">
          <mat-select placeholder="" name="name" ngModel>
            <mat-option *ngFor="let intent of intentlist" [value]="intent">
              {{intent.displayName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <button type="submit" (click)="delIntent(myform.value)" mat-raised-button color="primary">ลบ</button><br><br>
      </form>
    </div>
  </div>
</div>