<div class="container bg">
  <h1>Questions lists</h1><br>
  <div class="row">
    <div class="col-md">
      <!--           <mat-list *ngFor="let question of questions">
            <mat-list-item>{{ question.value.question }}  = > <button mat-button [matMenuTriggerFor]="menu">Click to assign</button></mat-list-item>
            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngFor="let intent of intents" (click)="assignIntent(question.value.question,question.key,intent[1])">{{intent[0]}}</button>
            </mat-menu>
          </mat-list> -->
      <ul class="list-group list-group-flush" *ngFor="let question of questions">
        <li class="list-group-item">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                {{ question.value.question }}
              </div>
              <div class="col-sm">
                <div class="btn-group" dropdown container="body">
                  <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                    aria-controls="dropdown-basic">Click to assign <span class="caret"></span>
                  </button>
                  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic" >
                    <li role="menuitem" *ngFor="let intent of intents">
                      <a class="dropdown-item">{{intent[0]}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </li>
      </ul>
    </div>
  </div>
</div>