<div [@routerTransition]>
    <app-page-header [heading]="'Charts'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    เปรียบเทียบจำนวนที่ตอบได้และตอบไม่ได้
                </div>
                <div class="card-body">
                    <div class="barchart" >
                        <canvas baseChart [datasets]="chartData" [labels]="Labels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>

                </div>
                <div class="card-footer">
                    
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    อัตราที่ intent ตอบถูกคิดเป็นเปอร์เซ็นต์
                </div>
                <div class="card-body">
                    <canvas baseChart height="150px" [data]="percentSuccess" [labels]="Labels" [chartType]="pieChartType" [colors]="pieColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                   intent ที่ถามมากที่สุด
                </div>
                <div class="card-body">
                    <canvas baseChart height="150px" [datasets]="countData" [labels]="Labels" [chartType]="radarChartType" [colors]="raderColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <!--
                    <div class="card-header">
                    Doughnut Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="180px" [data]="successChartData" [labels]="Labels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
                -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <!--
                    <div class="card-header">
                    Line Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="130" [datasets]="chartData" [labels]="Labels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
                -->
                
            </div>
        </div>
    </div>
</div>
