.card {
    box-shadow: 0  10px  20px  rgba(0,0,0,0.19), 0  6px  6px  rgba(0,0,0,0.23);
}

.card-border-info .card-header {
    display: block;
    padding-top: 28px;
    padding-bottom: 28px;
    text-align:  center;
    font-size: 30px;
}

.logo{
    display: block;
    width: 180px;
    height: auto;
    margin: auto auto;
}

.col-md-8{
    padding-top: 28px;
    display: block;
    width: 60%;
    height: auto;
    margin: auto auto;
    text-align:  center;
}

.col-md-8 .button{
    text-align:  center;
}

.bg{
    display: block;
    width: 100%;
}

.col-sm-20-col-md-16{
    display: block;
    width: 100%;
}

.text-size {
    font-size: 16px;
}


