<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
    <div class="row">
        <div class="col-md-8">
            <div class="barchart" >
                    <canvas baseChart [datasets]="chartData" [labels]="Labels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                    <ngx-ui-loader></ngx-ui-loader>
            </div>
        </div>
        <div class="col-md-4">
                <h1>ตอบถูก: {{successrate}}%</h1>
                <h1>ตอบผิด: {{failrate}}%</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [icon]="'fa fa-android'" routerLink="/add-intent" [label]="'Intent'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-graduation-cap'" routerLink="/training"  [label]="'Training'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-commenting'"  routerLink="/chat" [label]="'ChatBot'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-bar-chart'" routerLink="/charts" [label]="'Charts'"></app-stat>
        </div>
    </div>
    <hr />
    
    <!--
     <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>       
    -->
    <hr />


    <!--



        
    -->

