.message {
    border-radius: 50px;
    margin: 0 15px 10px;
    padding: 15px 20px;
    position: relative;
    font-weight: bold;
}
.message.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 100px;
    text-align: right;
}
.message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 100px;

}
.message.to + .message.to,
.message.from + .message.from {
margin-top: -10px;
}

div.absolute {
    position: absolute;
    top: 80px;
    left: 300px;
    right: 300px;
    width: 800px;
    border-radius: 3px;
    margin: auto;
    padding: 25px;
    background-color: #F3F3F3;
  }
