<!-- <section>
  <div class="absolute">
    <h1>Intents</h1><hr>
    <mat-list *ngFor="let intent of intents">
      {{intent[0]}}
    </mat-list>
  </div>
</section> -->

<div class="container bg">
  <div class="row">
    <div class="col-md">
        <!-- <h1>Intents</h1><hr>
        <mat-list *ngFor="let intent of intents">
          {{intent[0]}}
        </mat-list> -->

        <h1>Intents</h1><br>
        <div>
            <!-- <table mat-table [dataSource]="dataSource">
           -->
              <!-- Position Column -->
              <!-- <ng-container matColumnDef="no." class="table-no">
                <th mat-header-cell *matHeaderCellDef class="table-no"> No. </th>
                <td mat-cell *matCellDef="let intent" class="table-no"> {{intent.no}} </td>
              </ng-container> -->
          
              <!-- Name Column -->
              <!-- <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let intent"> {{intent.intent.name}} </td>
              </ng-container> -->

              <!-- Name Column -->
              <!-- <ng-container matColumnDef="displayName">
                  <th mat-header-cell *matHeaderCellDef> displayName </th>
                  <td mat-cell *matCellDef="let intent"> {{intent.intent.displayName}} </td>
                </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
            <!-- </table> -->

            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
          
    </div>
  </div>
</div>