<div class="container left-menu">
  <div class="row">
    <div class="col-md">
        <button mat-stroked-button class="button-size" routerLink="/home">Home</button>
        <button mat-stroked-button class="button-size" routerLink="/intent">Intent</button>
        <button mat-stroked-button class="button-size" routerLink="/add-intent">Add Intent</button>
        <button mat-stroked-button class="button-size" routerLink="/edit">Edit Intent</button>
        <button mat-stroked-button class="button-size" routerLink="/del-intent">Delete Intent</button>
        <button mat-stroked-button class="button-size" routerLink="/training">Training</button>
        <button mat-stroked-button class="button-size" routerLink="/chatbot">Chat Bot</button>
    </div>
  </div>
</div>