<div class="container left-menu">
  <div class="row">
    <div class="col-md">
        <img class="logo" src="https://upload.wikimedia.org/wikipedia/th/thumb/3/33/Sut_logo_Thai.svg/1200px-Sut_logo_Thai.svg.png"><br><br>
        <button mat-raised-button color="accent" class="button-size" routerLink="/home">Home</button><br>
        <button mat-raised-button color="accent" class="button-size" routerLink="/intent">Intent</button><br>
        <button mat-raised-button color="accent" class="button-size" routerLink="/add-intent">Add Intent</button><br>
        <button mat-raised-button color="accent" class="button-size" routerLink="/edit">Edit Intent</button><br>
        <button mat-raised-button color="accent" class="button-size" routerLink="/del-intent">Delete Intent</button><br>
        <button mat-raised-button color="accent" class="button-size" routerLink="/training">Training</button><br>
        <button mat-raised-button color="accent" class="button-size" routerLink="/chatbot">Chat Bot</button><br>
    </div>
  </div>
</div>