<section>
    <div class="absolute">
        <h1>Questions list</h1>
        <mat-list *ngFor="let question of questions">
            <mat-list-item>{{ question.value.question }}  = >  <button mat-button [matMenuTriggerFor]="menu">Click to assign</button>
            </mat-list-item>
            
            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngFor="let intent of intents" (click)="assignIntent(question.value.question,question.key,intent[1])">{{intent[0]}}</button>
            </mat-menu>
          </mat-list>
    </div>
</section>