
table.body {
    position: absolute;
    top: 80px;
    left: 150px;
    right: 150px;
    width: 1200px;
    border-radius: 3px;
    margin: auto;
    padding: 25px;
    background-color: whitesmoke;
}

td {
    width: 600px;
}
  .full-form {
      width: 100%;
  }
  
  .half-form {
      width: 50%;
  }

.bg {
    padding: 25px;
    border-radius: 6px;
}